**/.git
**/.gitignore
**/.dockerignore
**/.vscode
**/.idea
**/coverage
**/venv
**/env
**/.env
**/.aws
**/.ssh
**/*.md
**/*.pyc
**/*.pyo
**/__pycache__/
**/Dockerfile
docker-compose.yaml
docker-compose.dev.yaml