PROJECT_NAME=movies_api
BACKEND_PROJECT_NAME='MOVIES'
BACKEND_DEBUG=True

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_NUMBER=0
REDIS_PASSWORD=123qwe
REDIS_DSN=redis://default:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_NUMBER}
REDIS_MAXMEMORY=100mb

ELK_HOST=elasticsearch
ELK_PORT=9200
ELK_DSN=http://${ELK_HOST}:${ELK_PORT}

API_HOST=backend
API_PORT=8000
API_DSN=http://${API_HOST}:${API_PORT}