COMPOSE_PROJECT_NAME=tests_movie

BACKEND_PROJECT_NAME='MOVIES'
BACKEND_DEBUG=True

REDIS_BACKEND_HOST=redis_backend
REDIS_BACKEND_PORT=6379
REDIS_BACKEND_DB_NUMBER=0
REDIS_BACKEND_PASSWORD=123qwe
REDIS_BACKEND_DSN=redis://default:${REDIS_BACKEND_PASSWORD}@${REDIS_BACKEND_HOST}:6379/${REDIS_BACKEND_DB_NUMBER}
REDIS_BACKEND_MAXMEMORY=100mb

ELK_MOVIES_HOST=elasticsearch_movies
ELK_MOVIES_PORT=9200
ELK_MOVIES_DSN=http://${ELK_MOVIES_HOST}:9200

API_HOST=backend
API_PORT=8000
API_DSN=http://${API_HOST}:8000