pytest==7.2.0
pytest-asyncio==0.20.2
aiohttp==3.8.3
aioredis==2.0.1
redis==4.4.0
elastic-transport==8.4.0
elasticsearch[async]==8.5.2
pydantic==1.10.2
python-dotenv==0.21.0
orjson==3.8.2
backoff==2.2.1